﻿@using ERP.INFRASTRUCTURE
@using ERP.INFRASTRUCTURE.Global
<div class="addclass"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel-heading">
            <h3 class="panel-title">PERMISSION LIST</h3>
            <div class="btn-add-partial">
                <a href="@Url.Action("Register", "Permission")" class="list-group-item">Register</a>
            </div>
        </div><!-- /.box-header -->
        <div class="panel-body minHeight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Title</th>
                                    <th>Controller</th>
                                    <th>Action</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var dbResp = (DbResponse)ViewBag.Permissions;
                                    if (dbResp.MessageType == 1)
                                    {
                                        var permissions = (List<PartialPermission>)dbResp.ReturnValue;
                                        if (permissions != null)
                                        {
                                            foreach (var permission in permissions)
                                            {
                                                <tr id="@permission.Id">
                                                    <td><a href="@Url.Action("Register", "Permission", new { param = @permission.PermissionCode })"> @permission.PermissionCode</a></td>
                                                    <td> @permission.Title </td>
                                                    <td> @permission.ControllerName </td>
                                                    <td> @permission.ActionName </td>
                                                    <td> @permission.Status</td>
                                                </tr>
                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.box -->
</div><!-- /.col -->
