﻿<script>
    var formControl = {
        'IsSingle': true,
        'ControlStr': 'param<prop>Id^Title^PermissionCode^ControllerName^ActionName^ApplicationId'
    };
    var controls = {
        'param': ['Id', 'Title', 'PermissionCode', 'ControllerName', 'ActionName', 'ApplicationId']
    };
    var formValidate = { 'IsChecked': false, 'validateStr': "" };
    var formUrl = "Register";
    var redirectUrl = "";
    var messageType = "notification";
</script>
@if (ViewBag.PermissionCode != "")
{
    <script>
        redirectUrl = "/Permission/List";
    </script>
}
else
{
    <script>
        redirectUrl = "/Permission/List";
    </script>
}

<div class="addclass"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Register</h3>
            </div><!-- /.box-header -->
            @if (ViewBag.PermissionCode != "")
            {
                <div class="form-group row">
                    <label for="searchbyPermissionCode" class="col-sm-2 control-label">Search By Program ID</label>
                    <div class="input-group col-sm-3">
                        <input type="text" name="searchbyPermissionCode" id="searchbyPermissionCode" class="form-control" placeholder="Permission Code" value="@ViewBag.PermissionCode">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat" onclick="search('searchbyPermissionCode','GetPermissionForModify')"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            }
            <!-- form start -->
            <div class="box-body form-horizontal param">
                <input type="hidden" class="form-control" id="Id" name="Id" placeholder="Id">
                <div class="form-group">
                    <label for="Title" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="Title" name="Title" placeholder="Title">
                    </div>
                    <label for="PermissionCode" class="col-sm-2 control-label">Program ID</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="PermissionCode" name="PermissionCode" pl aceholder="Permission Code">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ControllerName" class="col-sm-2 control-label">Controller Name</label>
                    <div class="col-sm-4">
                        <select class="form-control select2" id="ControllerName" name="ControllerName">
                            @foreach (var controller in ViewBag.ControllerList)
                            {
                                <option value="@controller">@controller</option>
                            }
                        </select>
                        @*<input type="text" class="form-control" id="ControllerName" name="ControllerName" placeholder="Controller Name">*@
                    </div>
                    <label for="ActionName" class="col-sm-2 control-label">ActionName</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="ActionName" placeholder="Action Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ApplicationId" class="col-sm-2 control-label">Application</label>
                    <div class="col-sm-4">
                        <select class="form-control select2" id="ApplicationId" name="ApplicationId" style="width: 100%;">
                            @foreach (var application in ViewBag.ApplicationList)
                            {
                                <option value="@application.Value">@application.Text</option>
                            }
                        </select>
                    </div>
                </div>
                
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-default" onclick="thirdPartySubmitter(formControl, formValidate, formUrl, redirectUrl, messageType)">Register</button>
            </div><!-- /.box-footer -->
        </div>
    </div><!-- /.box -->
</div>
<!-- left column -->                                                                              