﻿@model ERP.INFRASTRUCTURE.Entity.PartialCategory
<script>
    var onchangeObject = {
        'control': 'CategoryId',
        'affectedControls': 'Id',
        'url': 'OnChangLoadProduct',
        'objectProperties': 'Id^ProductName'
    };
    var formControl = {
        'IsSingle': true,
        'ControlStr': 'category<prop>Id^Name^Description'
    };
    var formValidate = { 'IsChecked': true, 'validateStr': "Name" };
    var formUrl = "Register";
    var redirectUrl = "/Category/List";
    var messageType = "notification";
</script>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">X</button>
            <h3>Save Category</h3>
        </div>
        <div class="modal-body">
            <div class="form-horizontal category">
                <div class="addclass"></div>
                @Html.HiddenFor(model => model.Id)
                @Html.ValidationSummary(true)
                <div class="row">
                    <div class="control-label col-sm-4">@Html.DisplayNameFor(x => x.Name)</div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                </div>
                <div class="row">
                    <div class="control-label col-sm-4">@Html.DisplayNameFor(x => x.Description)</div>
                    <div class="col-sm-8">
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Description)
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" onclick="thirdPartySubmitter(formControl, formValidate, formUrl, redirectUrl, messageType)" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>