﻿@using ERP.INFRASTRUCTURE
@using ERP.REPOSITORIES.Helper
@model  PartialInvoiceInfo
@{
    ViewBag.Title = "Billing Module";
    string controllerName = ViewBag.ControllerName;
}
<style>
    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
    }

    .msg-loading {
        font-size: 25px;
        font-weight: bold;
        margin: 20%;
        text-align: center;
        background-color: white;
    }
</style>

<script src="~/Scripts/Custom/Report.js"></script>

<div id="overlay">
    <div class="msg-loading">
        Processing.....
    </div>
</div>
@Html.Partial("~/Views/Shared/Partial/_loadProductsPartial.cshtml", new ViewDataDictionary { { "url", "/Sales/GetNewInvoiceInfoDetailBySerial" } })
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-money"></i> Billing Module </h3>
</div>
<div class="panel-body minHeight">
    @using (Html.BeginForm("AddSalesInvoice", controllerName, FormMethod.Post, new { @id = "salesForm" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Id, new { @id = "invoiceInfo-id" })
        @Html.HiddenFor(m => m.CreatedBy, new { @id = "created-by" })
        @Html.HiddenFor(m => m.CreatedDate, new { @id = "created-date" })
        @Html.HiddenFor(m => m.ModifiedBy, new { @id = "modified-by" })
        @Html.HiddenFor(m => m.ModifiedDate, new { @id = "modified-date" })
        @Html.HiddenFor(m => m.Status, new { @id = "status" })
        @Html.HiddenFor(m => m.BussinessId, new { @id = "business-id" })
        @Html.HiddenFor(m => m.DebitId, new { @id = "DebitId" })
        @Html.HiddenFor(m => m.CreditId, new { @id = "CreditId" })
        <div class="panel panel-default">
            <div class="row">
                <div class="col-sm-12">
                    @* =========Left Column======== *@
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="control-label col-sm-3">Client</div>
                            <div class="col-sm-7" id="partyCtrl">@Html.DropDownListFor(m => m.PartyId, new SelectList(ViewBag.PartySelectList, "Value", "Text"), new { @class = "form-control dropdown", @onChange = "updatePartyFeilds()" })  </div>
                            @Html.ValidationMessage("PartyId", "", new { @class = "text-danger" })
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-3">Name</div>
                            <div class="col-sm-7">@Html.TextBoxFor(m => m.PartyName, new { @class = "form-control" })</div>
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-3">Address</div>
                            <div class="col-sm-7">@Html.TextAreaFor(m => m.PartyAddress, new { @class = "form-control" })</div>
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-3">Ref No</div>
                            <div class="col-sm-7">@Html.TextBoxFor(m => m.ReferenceNo, new { @class = "form-control" })</div>
                        </div>
                    </div>


                    @* =========Right Column======== *@
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="control-label col-sm-3">Bill No</div>
                            <div class="col-sm-7">@Html.TextBoxFor(m => m.InvoiceNo, null, new { @class = "form-control", @readonly = "readonly", @value = @Model.InvoiceNo })</div>
                            <abbr title="Print">
                                <inputn type="hidden" id="saved-invoice" value="" />
                                <a target="_blank" onclick="InvoicePrint()" class="btn btn-default printBill" title="Print"><i class="fa fa-print fa-fw"></i></a>
                            </abbr>
                        </div>

                        <div class="row">
                            <div class="control-label col-sm-3">Bill Date</div>
                            <div class="col-sm-7">@Html.TextBoxFor(m => m.InvoiceDate, new { @class = "form-control date-picker", @readonly = "readonly" })</div>
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-3">Currency</div>
                            <div class="col-sm-7">@Html.DropDownListFor(m => m.CurrencyId, new SelectList(ViewBag.CurrencySelectList, "Value", "Text"), new { @class = "form-control dropdown", @onChange = "updateProductList()" })</div>
                        </div>
                        @if (Model.IsEdit == true)
                        {
                            <div class="row">
                                <div class="control-label col-sm-3">Invoice Type</div>
                                <div class="col-sm-7">@Html.DropDownListFor(m => m.PropertyId, new SelectList(ViewBag.PropertySelectList, "Value", "Text"), new { @class = "form-control dropdown", @disabled = "disabled", @onChange = "updateProductList()" })</div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="control-label col-sm-3">Invoice Type</div>
                                <div class="col-sm-7">@Html.DropDownListFor(m => m.PropertyId, new SelectList(ViewBag.PropertySelectList, "Value", "Text"), new { @class = "form-control dropdown", @onChange = "updateProductList()" })</div>
                            </div>
                        }
                        <div class="row">
                            <div class="control-label col-sm-3">Remarks</div>
                            <div class="col-sm-7">@Html.TextAreaFor(m => m.Remarks, new { @class = "form-control" })</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="control-label col-sm-3">Category</div>
                        <div class="col-sm-7">@Html.DropDownList("CategoryId", new SelectList(ViewBag.CategorySelectList, "Value", "Text"), new { @class = "form-control dropdown", @id = "category-id", @onChange = "updateProductList()" })</div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3">Product</div>
                        <div class="col-sm-7">
                            <select id="product-id" name="ProductId" class="form-control dropdown" onchange="validateAddButton()"></select>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-10">
                            <button type="button" class="btn btn-primary" id="addProductRow" onclick="addProduct()" disabled>Add</button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#xcelModal">Load By Serial</button>
                            <button type="button" id="clearProductRow" class="btn btn-primary" onclick="removeAllRow()">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="control-label col-sm-3">Serial No:</div>
                    <div class="col-sm-7"><input class="form-control" type="text" name="SerialNo" onkeypress="addProductBySerial(event,this)"></div>
                </div>
            </div>
        </div>


        <br />
                <div class="row">
                    <div class="col-sm-12 invoice-table">
                        <table class="table table-bordered" id="productTable">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Sr. No</th>
                                    <th>Waranty(months)</th>
                                    <th>Price</th>
                                    <th>Is Gift?</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="productBody" class="productBody">
                                @*loaded by Javascrpt*@
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-5 col-sm-push-7">
                        <div class="row">
                            <div class="control-label col-sm-4">Sub Total</div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.SubTotal, new { @class = "form-control", @id = "sub-total", @readonly = "readonly" })
                                @Html.ValidationMessage("SubTotal", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-1 col-sm-pull-1"><label>Percent</label></div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="percent" placeholder="%" onkeyup="setVat(this)" />
                            </div>

                            <div class="control-label col-sm-1">@Html.LabelFor(m => m.Vat, "VAT: ")</div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.Vat, new { @class = "form-control", @id = "vat", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-4">@Html.LabelFor(m => m.Discount, "Discount")</div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.Discount, new { @class = "form-control", @id = "discount", @onkeyup = "updateTotals()" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-4">@Html.LabelFor(m => m.ServiceCharge, "Service Charge")</div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.ServiceCharge, new { @class = "form-control", @id = "serviceCharge", @onkeyup = "updateTotals()" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-4">@Html.LabelFor(m => m.GrandTotal, "Total Amount: ")</div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.GrandTotal, new { @class = "form-control", @id = "grand-total", @readonly = "readonly" })

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <input class="btn btn-primary pull-right hi" style="width: 90px;" id="Submit" value="Save" onclick="SaveInvoice('/Sales/AddSalesInvoice')" />
                            </div>
                        </div>
                    </div>
                </div>
    }
</div>


@section scripts
{
    <script>
        function InvoicePrint() {
            var invoiceId = $('#saved-invoice').val();
            console.log(invoiceId);
            if (invoiceId == "") {
                alertify.alert("No Data");
            }
            else
                Print(invoiceId);
        }
        function submitForm() {
            console.log("Submit");
            document.getElementById("salesForm").submit();
        }

        $(document).ready(function() {
            $('#salesForm').on('keyup keypress', function(e) {
                //console.log(e.target.closest('tr'));
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });
            //========Load Invoice Detail=========
            //var invoiceId = parseInt($('#invoiceInfo-id').val());
            //if (invoiceId > 0)
            //    addProduct();

            //========Load Invoice Detail=========
            var invoiceId = parseInt($('#invoiceInfo-id').val());
            if (invoiceId > 0) {
                console.log(invoiceId);
                ShowLoader("Loading......");
                $.get('/Sales/LoadInvoiceInfoDetail', { invoiceInfoId: invoiceId }, function (data) {
                    $('#productBody').append(data);
                    updateTotals();
                    HideLoader();
                });
            }
        });

        function setVat() {
            var subTotal = $('#sub-total').val();
            var percent = $('#percent').val();
            if (subTotal && percent)
                var vat = subTotal * percent / 100;
            $('#vat').val(vat);
            updateTotals();
        }

        function addProduct(currentRow) {
            var productId = parseInt($('#product-id option:selected').val());
            var invoiceInfoId = parseInt($('#invoiceInfo-id').val());
            invoiceInfoId = isNaN(invoiceInfoId) ? null : invoiceInfoId;

            $.post('/Sales/GetNewInvoiceInfoDetail', { invoiceInfoId: invoiceInfoId, productId: productId }, function(data) {
                $('#productBody').append(data);
                updateTotals();
                //Focust next row product serial
                if (currentRow) {
                    var nextRow = currentRow.next('tr');
                    var serialBox = nextRow.find('td input[id="product-serial"]');
                    serialBox.focus();
                }
            });
        }

        function addProductBySerial(event, currentRow)
        {
            //var productId = parseInt($('#product-id option:selected').val());
            var serial = $(currentRow).val();
            var invoiceInfoId = parseInt($('#invoiceInfo-id').val());
            invoiceInfoId = isNaN(invoiceInfoId) ? null : invoiceInfoId;
            if (event.which == 13)
            {
                $.post('/Sales/GetNewInvInfoDetailBySerial', { serialNo: serial, invoiceInfoId: invoiceInfoId }, function (data)
                {
                    //console.log(data);
                    if (data < 0)
                        alertify.error('No Product in the stock with the serial number');
                    else {

                        var search = '13713/01343079';
                        var x = $("#productTable tr td");
                        //console.log();
                        var z=$("#productTable tr td").filter(function () {
                            return $(this).text() == search;
                        }).parent('tr');

                        console.log(z);

                        $('#productBody').append(data);
                        updateTotals();
                        //Focust next row product serial
                        //if (currentRow) {
                        //    var nextRow = currentRow.next('tr');
                        //    var serialBox = nextRow.find('td input[id="product-serial"]');
                        //    serialBox.focus();
                        //}
                        currentRow.value = '';
                    }
                }).fail(function() {
                    alertify.error("No product found for this serial number.");
                });

            }
        }


        function validateAddButton() {
            var productId = $('#product-id option:selected').val() != undefined ? parseInt($('#product-id option:selected').val()) : 0;

            if (productId != 0) {
                $('#addProductRow').prop('disabled', false);
            } else {
                $('#addProductRow').prop('disabled', true);
            }
        }

        function setProductTotal(element) {
            var unitPrice = parseFloat($(element).closest('tr').find('td input[id="product-unit-price"]').val());
            var totalPrice = unitPrice;
            $(element).closest('tr').find('td label[id="product-total-price"]').text(totalPrice.toFixed(2));
            updateTotals();

        }

        function loadwaranty(event, element) {
            var serial = $(element).val();
            console.log($(element).val());

            if (event.which == 13) {
                $.post('/Sales/GetWarantyBySerial', { serialNo: serial }, function(data) {
                    console.log(data);
                    if (data < 0)
                        alertify.error('No Product in the stock with the serial number');
                    else {
                        var x = $(element).closest('tr');
                        $(element).closest('tr').find('td input[id="warranty"]').val(data);
                        addProduct($(element).closest('tr'));
                    }
                });
            }
        }

        function updateTotals() {
            var gift = "@PropertyConstants.Gift";
            var subTotal = 0.0;
            var grandTotal = 0.0;
            var vat = $('#vat').val();
            var discount = $('#discount').val();
            var serviceCharge = $('#serviceCharge').val();
            $('#productBody tr[status!="0"]').each(function(i, element) {
                if (gift == $(element).find('td select[id="gift"]').val())
                    return;
                else
                    subTotal += parseFloat($(element).find('td label[id="product-total-price"]').text());
            });

            grandTotal = parseFloat(subTotal) + parseFloat(vat) - parseFloat(discount) + parseFloat(serviceCharge);
            $('#sub-total').val(subTotal.toFixed(2));
            $('#grand-total').val(grandTotal.toFixed(2));
        }

        function removeDetailRow(element) {
            var detailRow = $(element).closest('tr');
            if (parseInt($(detailRow).find('input[id="id"]').val()) == 0) {
                $(detailRow).remove();
            } else {
                $(detailRow).find('input[id="status"]').val(0);
                $(detailRow).attr('status', 0);
                $(detailRow).remove();
            }
            updateTotals();
        }

        function removeAllRow() {
            $('#productBody tr[status!="0"]').each(function(i, element) {
                if (parseInt($(element).attr('id')) == 0) {
                    $(element).remove();
                } else {
                    $(element).attr('status', 0);
                    $(element).remove();
                }
            });
            updateTotals();
        }

        function updateProductList() {
            var categoryId = parseInt($('#category-id option:selected').val());
            if (categoryId != 0) {
                $.post('/@controllerName/GetProductListByCategory', { categoryId: categoryId }, function(data) {
                    $('#product-id').empty();
                    if (data != "") {
                        $('#product-id').append(data);
                    } else {
                        alertify.error('No product in this category');
                    }
                });
            } else {
                $('#product-id').empty();
            }
        }

        function updatePartyFeilds() {
            var partyId = parseInt($('#PartyId option:selected').val());
            $.post('/Sales/GetPartyInfo', { partyId: partyId }, function(party) {
                if (party) {
                    $('#PartyName').val(party.Name);
                    $('#PartyAddress').val(party.Address1);
                }

            });
        }
    </script>
}

