﻿body {
            font-size: 14px;
        }

        .heading1 {
            text-align: center;
            font-size: 28px;
        }

        .heading3 {
            text-align: center;
            font-size: 24px;
        }

        .heading4 {
            text-align: left;
            font-size: 18px;
            font-weight: bold;
        }

        .heading5 {
            text-align: left;
            font-size: 17px;
            font-weight: bold;
        }

        .heading6 {
            text-align: left;
            font-size: 12px;
        }

        .gap-type1 {
            margin-bottom: 30px;
        }

        .gap-type2 {
            padding-top: 15px;
        }

        .special {
            display: inline;
            float: left;
            padding-right: 12px;
        }

        .left-col {
            float: left;
            width: 48.8px;
        }

        .special-effect1 {
            margin-left: -8px;
        }

        .special-effect3 {
            text-align: center;
        }

        .float-right {
            float: right;
            padding-right: 12px;
            text-align: right;
        }

        .text-underline {
            border-bottom: 1px dashed #aaa;
        }

        .text-underline-solid {
            border-bottom: 1px solid #aaa;
        }

        .row:after {
            content: " ";
            display: table;
            clear: both;
            padding-bottom: 10px;
        }

        .row:before {
            content: " ";
            display: table;
            clear: both;
            padding-bottom: 8px;
        }

        .col-3-2 ,.col-1-7, .col-5-2, .col-2-1, .col-6-3, .col-2-2, .col-2-7, .col-5-8, .col-0-8, .col-6-7, .col-8-8, .col-8-5, .col-7-2, .col-1-4, .col-0-2, .col-0-5, .col-1, .col-1-2, .col-1-5, .col-2, .col-2-5, .col-2-8, .col-3-5, .col-4-5, .col-5-5, .col-6-5, .col-7-5, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
            position: relative;
            min-height: 5px;
            padding-left: 20px;
            padding-right: 15px;
        }

        .col-3-2 ,.col-1-7,.col-5-2, .col-2-1, .col-6-3, .col-2-2, .col-2-7, .col-5-8, .col-0-8, .col-6-7, .col-8-8, .col-8-5, .col-7-2, .col-1-4, .col-0-2, .col-0-5, .col-1, .col-1-2, .col-1-5, .col-2-5, .col-2-8, .col-3-5, .col-4-5, .col-5-5, .col-6-5, .col-7-5, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
            float: left;
        }

        .col-12 {width: 1276px;}
        .col-11 {width: 1170px;}
        .col-10 {width: 1064px;}
        .col-9 {width: 958px;}
        .col-8-8 {width: 936.8px;}
        .col-8-5 {width: 905px;}
        .col-8 {width: 852px;}
        .col-7-5 {width: 799px;}
        .col-7-2 {width: 767.2px;}
        .col-7 {width: 746px;}
        .col-6-7 {width: 714.2px;}
        .col-6-5 {width: 693px;}
        .col-6-3 {width: 661.2px;}
        .col-6 {width: 640px;}
        .col-5-8 {width: 617px;}
        .col-5-5 {width: 586px;}
        .col-5-2 {width: 554.2px;}
        .col-5 {width: 533px;}
        .col-4-5 {width: 478px;}
        .col-4 {width: 425px;}
        .col-3-5 {width: 373px;}
        .col-3-2 {width: 341.2px;}
        .col-3 {width: 320px;}
        .col-2-8 {width: 297.8px;}
        .col-2-7 {width: 287.2px;}
        .col-2-5 {width: 266px;}
        .col-2-2 {width: 234.2px;}
        .col-2-1 {width: 223.6px;}
        .col-2 {width: 213px;}
        .col-1-7 {width: 180.2px;}
        .col-1-5 {width: 159px;}
        .col-1-4 {width: 148.4px;}
        .col-1-2 {width: 127.2px;}
        .col-1 {width: 106px;}
        .col-0-8 {width: 84.8px;}
        .col-0-5 {width: 53px;}
        .col-0-2 {width: 21.2px;}
        .special {width: 0px;}
        .move-left {margin-left: -12px;}
        .move-right {margin-left: 20px;}
        .box-mrm {padding: 7px;border: 1px solid black;margin-top: -6px;}
        table {border-collapse: collapse;width: 100%;}
        table, td, th {border: 1px solid black;}
        
        .logo {text-align: center;}
        .logo-client-registration {
            text-align: center;
            margin-top: -10px;
            margin-right: 20px;
            padding-right: 10px;
            /*background-image: url("../css/images/ERP_logo.png") ;*/
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            width: 30px;
            height: 50px;
        }
        .logo-client-registration img {
            height: 60px;
            width: 50px;
        }
        .logo-client-card {
            margin-right: 20px;
            padding-right: 10px;
            /*background-image: url("../css/images/ERP_logo.png") ;*/
            background-repeat: no-repeat;
            background-size: contain;
            height: 92px;
            margin-left: 44%;
        }
        @media print {p {page-break-before: always;}}