﻿body {
    font-family: ZangGoFont;
}
@font-face {
    font-family: ZangGoFont;
    src: url(../fonts/CalibriL.ttf);
}

.odd {
    background-color: ghostwhite;
}
table.zangGoTable {
    width: 100%;
}
table.zangGoTable thead {
    background-color: ghostwhite;
    font-size: 18px;
}
table.zangGoTable td, th {
padding: 10px;
border-color: chartreuse;
/* padding-bottom: 10px; */
}
table.zangGoTable td {
    font-size: 16px;
}
.margin-left {
    margin-left: -32px;
}
.orgTitle {
    font-size: 20px;
}
.orgAddress {
    font-size: 16px;
}
.system-info {
    margin-top: 10px;
    font-size: 14px;
}
.dateInfo {
    margin-top: -16px;
}
table.zangGoTable th {
    font-size: 18px !important;
    font-weight: normal !important;
    font-variant: small-caps !important;
}
table.zangGoTable,
table.zangGoTable td,
table.zangGoTable th {
    border: 1px solid black;
    -webkit-box-sizing: content-box;
    box-sizing: border-box;
}
tr {
    height: 32px;
    border: none !important;
    padding-top: 3px;
    padding-bottom: 3px;
}

table.zangGoTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
}

.orgLogo {
    text-align: center;
    /*background-image: url("../css/images/ERP_logo.png");*/
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 12px;
}

#content a:link:after, #content a:visited:after {    
  content: " ("attr(href) ") ";    
  font-size: 90%;   
}