﻿ @model ERP.INFRASTRUCTURE.Entity.TransactionViewModel
@{
     ViewBag.Title = "OpeningTransactionForm";
}
<script>
    var formControl = {
        'IsSingle': true,
        'ControlStr': 'param<prop>Id^TransactionType^TransactionDate^Amount^Remarks^CreditHeaderId^DebitHeaderId^CurrencyId'
    };
    var formValidate = { 'IsChecked': false, 'validateStr': "" };
    var formUrl = "/OpeningTransaction/SaveTransactionForm";
    var redirectUrl = "/OpeningTransaction/TransactionList";
    var messageType = "notification";
</script>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i>Opening Transaction Form</h3>
            </div>
            <div class="addclass"></div>
            <div class="panel-body minHeight param">
                <div class="row">
                    <div class="control-label col-sm-1">Amount</div>
                    <div class="col-sm-5">@Html.TextBox("Amount", null, new { @class = "form-control", onkeyup = "copyOnChange(this,'DebitAmount^CreditAmount')" })</div>
                </div>
                <div class="panel panel-default" style="margin-top: 25px">
                    
                    <div class="row">
                        <div class="control-label col-sm-1">Debit/To</div>
                        <div class="col-sm-5">@Html.DropDownListFor(x=>x.DebitHeaderId, new SelectList(@ViewBag.LedgerList, "Value", "Text"), new { @class = "form-control dropdown" })</div>
                        <div class="control-label col-sm-1">Credit/From</div>
                        <div class="col-sm-5">@Html.DropDownListFor(x=>x.CreditHeaderId, new SelectList(@ViewBag.LedgerList, "Value", "Text"), new { @class = "form-control dropdown" })</div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-1">Debit</div>
                        <div class="col-sm-5">@Html.TextBoxFor(x => x.DebitAmount, null, new { @class = "form-control", @readonly = "readonly" })</div>
                        <div class="control-label col-sm-1">Credit</div>
                        <div class="col-sm-5">@Html.TextBoxFor(x => x.CreditAmount, null, new { @class = "form-control", @readonly = "readonly" })</div>
                    </div>
                </div>
                <div class="row" style="margin-top: 25px">
                    <div class="control-label col-sm-1">Currecny</div>
                    <div class="col-sm-4">@Html.DropDownListFor(m => m.CurrencyId, new SelectList(ViewBag.CurrencySelectList, "Value", "Text"), new { @class = "form-control dropdown" })</div>
                </div>
                <div class="row" style="margin-top: 25px">
                    <div class="control-label col-sm-1">Remarks</div>
                    <div class="col-sm-4">@Html.TextAreaFor(x=>x.Remarks, new { @class = "form-control" })</div>
                </div>
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-8 ">
                            <button type="submit" class="btn btn-lg btn-primary pull-right" onclick="thirdPartySubmitter(formControl, formValidate, formUrl, redirectUrl, messageType)">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>