﻿
.panel-form {
    padding-top:20px;
    float: left;
    margin-top: -7px;
    margin-right: 5px;
    width:100%;
}

.btn-add-partial {
    float: right;
    margin-top: -7px;
    margin-right: 5px;
}

.PartialModal,.PartialModalContainer {
    text-decoration: none;
}

#MainMenu {
    font-size: 16px !important;
}

table#DataTables_Table_0 tbody {
    font-size: 16px !important;
}

.custom-search-form {
    padding: 1px;
}

.panel-title {
position: relative;
float: left;
}

.panel-heading {
height: 40px;
}

.company-logo {
    padding-left: 38px;
    padding-bottom: 10px;
}

label.control-label span { cursor: pointer; }
@media print {
    #print-section {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
}


.sidebar-fa {
    padding-left: 20px !important;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.custom-fa{
    padding-left: 20px !important;    
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: bold;
    line-height: 1;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #adbece !important;
}

.h-link {
    display: inline-block !important;
    width: 80% !important;
}

.bg-dark {
background-color: #2e3e4e !important;
color: #9db1c5 !important; 
}


.nav > li > a:hover, .nav > li > a:focus {
    background-color: #235077 !important;
}

footer {
    height: 40px;
    background-color: white;
    border: 1px solid #adbece;
    border-radius: 5px !important;
    width: 100%;
    margin: -10px;
}

.nav > li > a:hover {
    /*padding-left: 6px;*/
    font-weight: bold;
    color: #adbece !important;
}

.auth {
    color: #235077;
    padding-left: 20px !important;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: bold !important;
    line-height: 1;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.long-textbox {
    width: 100% !important;
}

mark {
    color: red !important;
    background: none !important;
}

.form-control-textarea {
    width: 100% !important;
    -moz-min-width: 698px;
    -ms-min-width: 698px;
    -o-min-width: 698px;
    -webkit-min-width: 698px;
    min-width: 698px;
    height: 100px !important;
}

.form-control-longbox {
    width: 100% !important;
    -moz-min-width: 698px;
    -ms-min-width: 698px;
    -o-min-width: 698px;
    -webkit-min-width: 698px;
    min-width: 698px;
}

.report-font {
    font-size: 16px;
}

*{
  margin:0; padding: 0;
}

html,body{
/*	background: url(../images/back.jpg); */
	background: #e1e1e1;
	
	height:100%;
}

.container {
    -ms-border-radius: 0;
    border-radius: 0;
}

.toprow
{
	margin-top: 10px;
	margin-bottom: 9px;
    border-radius: 5px
}
.siderow {
    -ms-border-radius: 5px;
    border-radius: 5px;
	background-color: #ffffff;
	margin-left: 10px;
	padding-left: 3px;
	margin-right: -5px;
	padding-right: 3px;
	width: 190px;
    min-height: 505px;
}

.searchIcon {
    margin: 0;
	width: 50px;
	height: 34px;
    -ms-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -ms-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
	border-width: 0;
}

.searchInput {
    width: 100%;
	border-width: 0;
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	font-size: 14px;
	font-weight: bold;
    -ms-opacity: 0.5;
    opacity: 0.5;
}

.topleftbar{
	margin-top: 2px;
}
/*-------------------Button Style-----------------------*/
.ds-btn{ padding-left: 15px; }
.ds-btn li{ list-style:none; float:left; padding-top:8px; width:100%; border-bottom: 1px solid #cacaca;width: 131px;background: #FFFFFF;}
.ds-btn li a span{padding-left:5px;padding-right:0;width:100%; text-align:center;
	font-family: Cambria, Georgia, serif;
	font-size: 14px;
	font-weight: bold;
	color: #939292;
}
.ds-btn li a span small{width:100%; display:inline-block; text-align:center;}
.alignCenter{
	width: 100%;
}
.colorDiv{
	color: #ca0007;
	margin: auto;
	text-align: center;
	font-family: Cambria, Georgia, serif;
	font-size: 14px;
	font-weight: bold;
}
.colorDiv:hover{
	color: #939292;
	text-decoration: none;
}
.UserName{
	color: #114f5a;
	display:inline-block;
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
    padding-left: 16px;
}
.footerText{
	color: #114f5a;
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
}
.ashcolorDiv{
	color: #939292;
	margin: auto;
	text-align: left;
	font-family: Cambria, Georgia, serif;
	font-size: 14px;
	font-weight: bold;
}
.ashcolorDiv:hover{
	color: #ca0007;
	text-decoration: none;
}

.dropbar{
	margin-right: -8px;
	margin-top: -8px;
	color: #114f5a;
}
.nav>li>a {
	color: #114f5a;
}
.menuBorder{
    border-bottom: 1px solid #e4e6e6;
}

.panelTop{
	margin: -16px;
}

.panelTopRight {
    margin: -77px;
	margin-left: 0;
	margin-right: 0;
/*	background: #638e43; */
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-size: 15px;
	color: #638e43;
	font-weight: bold;
    -ms-opacity: 1;
    opacity: 1;
}

.sidepanel{
    padding-left: 0;
    padding-right: 0;
    width: 125%;
	margin-right: -16px;
	padding-top: 61px;
}
.minHeight{
    min-height: 300px;
}

.footerWidth{
	width:97%;
}
.panelcolor{
	background-color: #939292;
	border-color: #939292;
}

.panelTopRightRed {
    margin: 26px;
	margin-left: 4px;
	width: 17.72%;
	margin-right: 0;
	background: #d77b31;
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	font-size: 15px;
	color: #7d7d7d;
	font-weight: bold;
    -ms-opacity: 1;
    opacity: 1;
}

.dropbarright{
	color: #114f5a;
    margin-right: 5px;
}
.itemPadding{
    padding-left: 0;
    padding-right: 0;
}

.textsuccess {
    color: #a80309;
	margin-right: 11px;
}
.alert:hover {
	color: #333;
	background-color: #fff;
	border-color: #ccc
}

a:hover {
	text-decoration: none;
}

      #accordion .glyphicon { margin-right:10px; }
      .panel-collapse>.list-group .list-group-item:first-child {
          -ms-border-top-right-radius: 0;
          border-top-right-radius: 0;
          border-top-left-radius: 0;
      }

.panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
      .panel-collapse>.list-group {margin-bottom: 0;}
      .panel-collapse .list-group-item {border-radius:0;}

      .panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
      .panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-top: 0 solid #ddd;border-bottom: 0;padding-left: 30px;}
      .panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

      .panel-collapse div.list-group div.list-group{margin: 0;}
      .panel-collapse div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd;border-bottom: 0;padding-left: 30px;}
	  
  
/*--------------------SidePanel------------------------*/
.shawon{
	height: 100%;
	overflow: auto;
}
::-webkit-scrollbar { 
    display: none; 
}


.glyphicon { margin-right:5px; }
.glyphicon-new-window { margin-left:5px; }
.panel-body .radio,.panel-body .checkbox {margin-top: 0;margin-bottom: 0;}
.panel-body .list-group {margin-bottom: 0;}
.margin-bottom-none { margin-bottom: 0; }
.panel-body .radio label,.panel-body .checkbox label { display:block; }

.list-group-item:hover{
	color: #ca0007;
	text-decoration: none;
	background: #ca0007;
}

/*----------------------------Menu Item------------------------------*/
.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #f5f5f5;
}
.list-group-submenu {
  margin-left:20px;
}


.fa-cog,.fa-bell {
    font-size: 16px !important;
}

.searchBoxBtn {
    margin-left: -40px;
    border-top-left-radius: initial;
    border-bottom-left-radius: initial;
}

.btn-top-right {
    float: right;
    margin-top: -37px;
    margin-right: 90px;
}

.ui-autocomplete {
    z-index: 11100 !important;
}

.custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
      position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
      -ms-border-radius: 0px !important;
      border-radius: 0px 4px 4px 0px !important;
  }

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
    width: 200px;
  }

  #comboBox {
      z-index: 11100 !important;
  }


  .ui-widget input {
      font-size: 12px !important;
  }

  .custom-combobox-toggle {
      margin-left: 166px;
  }

  .ui-widget-content {
      font-size: 12px !important;
  }

 #medicineTable.table {
  width: 98% !important;
  margin-left: 1% !important;
  margin-right: 2% !important;
}


 .modal {
  overflow-y: auto;
}
/* custom class to override .modal-open */
.modal-noscrollbar {
    margin-right: 0 !important;
}