﻿@model IEnumerable<ERP.INFRASTRUCTURE.LedgerGroupViewModel>

@{
    ViewBag.Title = "Header List";
}
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-archive"></i> Header List</h3>
    <div class="btn-add-partial">
            <a href="@Url.Action("SaveLedgerGroup", "Accounting")" class="btn btn-default">
                Create Header
            </a>
        </div>
</div>
<div class="panel-body minHeight">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th>Header Name</th>
                                    <th>Type </th>
                                    <th>Desc</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {

                                        <tr>
                                            <td><a href="@Url.Action("SaveLedgerGroup", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Name)</a></td>
                                            <td>@Html.DisplayFor(modelItem => item.GroupName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                            <td>
                                                <abbr title="Edit"><a href="@Url.Action("SaveLedgerGroup", new { id = item.Id })" class="btn btn-default" title="Edit"><i class="fa fa-pencil fa-fw"></i>Edit</a></abbr>
                                                <abbr title="Delete"><button onclick="ConfirmDelete(@item.Id,'DeleteLedgerGroup')" class="btn btn-default editBM" title="Delete"><i class="fa fa-times"></i></button></abbr>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-sm-12 -->
    </div>
    <!-- /.row -->
</div>

@section scripts{
    @*<script src="~/Scripts/jquery.validate.min.js"></script>*@
    <script>

        $(function () {
            $('.dataTables').dataTable();
        });

        $('#addTSH').on("click", function (e) {

            $('.PartialModalContainer').load(this.href, function () {
                //$('.PartialModal').modal({
                //    keyboard: true
                //}, 'show');  .modal('show');
                $('.PartialModal').modal('show');

            });

            return false;

        });
        $('.editSH').on("click", function (e) {
            //alert();
            console.log(this.href);
            $('.PartialModalContainer').load(this.href, function () {
                $('.PartialModal').modal({
                    keyboard: true
                }, 'show');

            });
            $(function () {
                $('.datepicker').datepicker({ autoclose: true, todayHighlight: true }).on('changeDate', function (e) {
                    $(this).datepicker('hide');
                });
            });
            return false;
        });

        $(document).on('click', '#closeModal', function () {
            window.location.replace('@Url.Action("LedgerGroupList","Settings")');
        });
    </script>
}
