﻿@model ERP.INFRASTRUCTURE.LedgerGroupViewModel
           
<script>
    var formControl = {
        'IsSingle': true,
        'ControlStr': 'param<prop>Id^Name^GroupHeaderId^Description'
    };
    var formValidate = { 'IsChecked': false, 'validateStr': "" };
    var formUrl = "SaveLedgerGroup";
    var redirectUrl = "/Accounting/LedgerGroupList";
    var messageType = "notification";
</script>
<div class="row" style="margin-top: 20px;">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create Header
            </div>
            <div class="panel-body param">
                <div class="form-horizontal">
                    <div class="addclass"></div>
                    @Html.HiddenFor(model => model.IsEdit)
                    @Html.HiddenFor(model => model.Id)
                    @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="control-label col-sm-3">@Html.DisplayNameFor(x => x.Name)</div>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Name)
                        </div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3">Header Type</div>
                        <div class="col-sm-9">@Html.DropDownListFor(x => x.GroupHeaderId, new SelectList(ViewBag.ParentList, "Value", "Text"), new { @class = "form-control" })  </div>
                        @Html.ValidationMessageFor(x => x.GroupHeaderId)
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3">@Html.DisplayNameFor(x => x.Description)</div>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-10">
                            <button id="save" class="btn btn-primary" onclick="thirdPartySubmitter(formControl, formValidate, formUrl, redirectUrl, messageType)">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        @*if ('@Model.IsEdit' == 'True') {
            $('#save').css('display', 'none');
        }*@

    </script>
}
