﻿@using ERP.REPOSITORIES.Helper
@model ERP.INFRASTRUCTURE.Payment
@{
    string controllerName = ViewBag.ControllerName;
    ViewBag.Title = (ViewBag.PaymentType == PropertyConstants.Receive ? "Receive" : "Payment") + " Entry";
    var party = ViewBag.PartyType == PropertyConstants.Dealer ? "Customer" : "Supplier";
    var redirectURL = (ViewBag.PaymentType == PropertyConstants.Receive ? "/Payment/DealerPaymentModule" : "/Payment/SupplierPaymentModule");
}
@*<script>
    var formControl = {
        'IsSingle': true,
        'ControlStr': 'param<prop>Id^PaymentType^PartyId^Amount^CreditId^DebitId^IsPending^Date__Dddmmyyyy^Amount^CashTypeValue__R^Remarks^CurrencyId^BankName^AccountNo^CheckNo^CheckDate__Dddmmyyyy^ReferenceNo^PaymentStatus'
    };
    var formValidate = { 'IsChecked': false, 'validateStr': "" };
    var formUrl = "SavePayment";
    var redirectUrl = "@redirectURL";
    var messageType = "notification";

</script>*@

<script src="~/Scripts/Custom/InvoicePost.js"></script>

@*<div id="overlay">
    <div class="msg-loading">
        Processing.....
    </div>
</div>
<div class="panel-body minHeight">*@
    @using (Html.BeginForm("SavePayment", controllerName, FormMethod.Post, new { @id = "paymentForm" }))
    {
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-money"></i> @ViewBag.Title </h3>
                    </div>
                    <div class="alert"></div>
                    <div class="panel-body param">
                        <div class="row">
                            <div class="control-label col-sm-4">@party</div>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(x => x.PartyId, new SelectList(@ViewBag.PartySelectList, "Value", "Text"), new { @class = "form-control dropdown" })
                            </div>
                            @Html.HiddenFor(x => x.Id, new { @class = "form-control" })
                            @Html.HiddenFor(x => x.PaymentType, new { @class = "form-control", Value = ViewBag.PaymentType })
                        </div>
                        @if (ViewBag.PaymentType == PropertyConstants.Receive)
                {
                            <div class="row">
                                <div class="control-label col-sm-4">Debit/Received To</div>
                                <div class="col-sm-8">@Html.DropDownListFor(x => x.DebitId, new SelectList(@ViewBag.LedgerList, "Value", "Text"), new { @class = "form-control dropdown" })</div>
                            </div>
                        }
                        @if (ViewBag.PaymentType == PropertyConstants.Payment)
                {
                            <div class="row">
                                <div class="control-label col-sm-4">Credit/Paid From</div>
                                <div class="col-sm-8">@Html.DropDownListFor(x => x.CreditId, new SelectList(@ViewBag.LedgerList, "Value", "Text"), new { @class = "form-control dropdown" })</div>
                            </div>
                        }

                        <div class="row">
                            <div class="control-label col-sm-4">Date</div>
                            <div class="col-sm-8">
                                @*@Html.TextBoxFor(x => x.Date, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", @readonly = "readonly" })*@
                                @Html.TextBoxFor(x => x.Date, "{0:yyyy-MM-dd}", new { @class = "form-control date-picker", @type = "text", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-4">Currency</div>
                            <div class="col-sm-8">@Html.DropDownListFor(m => m.CurrencyId, new SelectList(ViewBag.CurrencySelectList, "Value", "Text"), new { @class = "form-control dropdown" })</div>
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-4">Amount</div>
                            <div class="col-sm-8">@Html.TextBoxFor(x => x.Amount, new { @class = "form-control money" })</div>
                        </div>
                        <div class="row hidden">
                            <div class="col-sm-2">Deal In</div>
                            <div class="col-sm-1"><input type="radio" id="CashTypeValue" class="radio-inline" name="CashTypeValue" value="Check" /> Check</div>
                            <div class="col-sm-1"><input type="radio" id="CashTypeValue" class="radio-inline" name="CashTypeValue" checked="checked" value="Cash" /> Cash</div>
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-4">Notes</div>
                            <div class="col-sm-8">@Html.TextAreaFor(x => x.Remarks, new { @class = "form-control" })</div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-money"></i> Check Info </h3>
                    </div>
                    <div class="panel-body minHeight param">
                        <div class="row">
                            <div class="control-label col-sm-4">Bank Name</div>
                            <div class="col-sm-8">@Html.TextBoxFor(x => x.BankName, new { @class = "form-control" })</div>
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-4">Account No</div>
                            <div class="col-sm-8">@Html.TextBoxFor(x => x.AccountNo, new { @class = "form-control" })</div>
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-4">Check No</div>
                            <div class="col-sm-8">@Html.TextBoxFor(x => x.CheckNo, new { @class = "form-control" })</div>
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-4">Check Date</div>
                            <div class="col-sm-8">
                                @*@Html.TextBoxFor(x => x.CheckDate, "{0:d/MMM/yyyy}", new { @class = "form-control date-picker", @readonly = "readonly" })*@
                                @Html.TextBoxFor(x => x.CheckDate, "{0:yyyy-MM-dd}", new { @class = "form-control date-picker", @type = "text", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-4">Reference No</div>
                            <div class="col-sm-8">@Html.TextBoxFor(x => x.ReferenceNo, new { @class = "form-control" })</div>
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-4">Payment Status</div>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(x => x.PaymentStatus, new SelectList(@ViewBag.GetPaymentStatus, "Value", "Text"), new { @class = "form-control dropdown" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-10 col-sm-1">
                                <button type="submit" class="btn btn-primary pull-right" onclick="SavePayment('/Payment/SavePayment')">Save</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<script>
    function submitForm() {
        document.getElementById("paymentForm").submit();
    }
    </script>