﻿@{
    var currentType = (int)Constants.SalaryType.Current;
    var advancedType = (int)Constants.SalaryType.Advance;
}
@using ERP.INFRASTRUCTURE
@model ERP.INFRASTRUCTURE.Salary
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">X</button>
            <h3>Save Salary</h3>
        </div>
        @using (Ajax.BeginForm("SaveSalary", "Salary", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess(data)", InsertionMode = InsertionMode.Replace, UpdateTargetId = "target" }, new { @id = "DialogForm1" }))
        {
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="addclass"></div>
                    @Html.HiddenFor(model => model.IsEdit)
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.SalryType)
                    @Html.ValidationSummary(true)

                    <br />
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        @Html.LabelFor(x => x.EmployeeId, htmlAttributes: new { @class = "control-label col-sm-4" })
                                        <div class="col-sm-6">
                                            @Html.DropDownListFor(x => x.EmployeeId, new SelectList(@ViewBag.EmpoyeeList, "Value", "Text"), new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.EmployeeId)
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="control-label col-sm-4">Credit/Paid From</div>
                                        <div class="col-sm-8">@Html.DropDownListFor(x => x.CreditId, new SelectList(@ViewBag.LedgerList, "Value", "Text"), new { @class = "form-control dropdown" })</div>
                                    </div>
                                </div>
                                <div class="row">

                                </div>
                                <div class="panel-heading" style="margin-left: -13px;">
                                    <h1 class="panel-title"><strong>Salary Break Down </strong></h1>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="control-label col-sm-4">Date</label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.Month, "{0:dd/MMM/yyyy}", new { @class = "form-control datepicker", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(x => x.Month)
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.Label("Remarks", "Basic Salary", htmlAttributes: new { @class = "control-label col-sm-4" })
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.BasicSalary, null, new { @class = "form-control", @Value = @ViewBag.Basic })
                                            @*@Html.ValidationMessageFor(model => model.SRId, "", new { @class = "text-danger" })*@
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        @Html.Label("Remarks", "House Rent", htmlAttributes: new { @class = "control-label col-sm-4" })
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.HouseRent, null, new { @class = "form-control", @Value = @ViewBag.House })
                                            @*@Html.ValidationMessageFor(model => model.SRId, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.Label("Remarks", "Mobile", htmlAttributes: new { @class = "control-label col-sm-4" })
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.MobileAllowance, null, new { @class = "form-control", @Value = @ViewBag.Mobile })
                                            @*@Html.ValidationMessageFor(model => model.SRId, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        @Html.Label("Remarks", "Transport", htmlAttributes: new { @class = "control-label col-sm-4" })
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.TransportCost, null, new { @class = "form-control", @Value = @ViewBag.Transport })
                                            @*@Html.ValidationMessageFor(model => model.SRId, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.Label("Remarks", "Festival Bonus", htmlAttributes: new { @class = "control-label col-sm-4" })
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.FestivalBonus, null, new { @class = "form-control" })
                                            @*@Html.ValidationMessageFor(model => model.SRId, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        @Html.Label("Remarks", "Medical Allowance", htmlAttributes: new { @class = "control-label col-sm-4" })
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.MedicalAllowance, null, new { @class = "form-control" })
                                            @*@Html.ValidationMessageFor(model => model.SRId, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.Label("Remarks", "Other Allowance", htmlAttributes: new { @class = "control-label col-sm-4" })
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.OtherAllowance, null, new { @class = "form-control" })
                                            @*@Html.ValidationMessageFor(model => model.SRId, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        @Html.Label("Remarks", "Other Deduction", htmlAttributes: new { @class = "control-label col-sm-4" })
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.OtherDeduction, null, new { @class = "form-control" })
                                            @*@Html.ValidationMessageFor(model => model.SRId, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.Label("Remarks", "Amount", htmlAttributes: new { @class = "control-label col-sm-4" })
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.TotalSalary, null, new { @class = "form-control", @id = "Amount" })
                                            @Html.ValidationMessageFor(x => x.TotalSalary)
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $(document).on('focus', '.datepicker', function () {
            var id = $(this).attr('id');
            $(this).datepicker({ autoclose: true, todayHighlight: true, dateFormat: "dd/MM/yy" }).on('changeDate', function (e) {
                $(this).datepicker('hide');
            }).change(function () {
                if (id != 'Month') {
                    $("#Percentage").val("");
                    $("#TotalBill").val("");
                }
            });
        });
    });

    $(document).on('change', '#EmployeeId', function () {
        $("#BasicSalary").val("");
        $("#HouseRent").val("");
        $("#MobileAllowance").val("");
        $("#TransportCost").val("");
        $("#Percentage").val("");
        $("#Amount").val("");

        var empId = $("#EmployeeId").val();
        if (empId != "") {
            // alert(partyId);
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadAllowanceByEmployee", "Salary")',
                data: { employeeId: empId },
                success: function (data) {
                    console.log(data);
                    if (data.isSuccess) {
                        $("#HouseRent").val(data.house);
                        $("#MobileAllowance").val(data.mobile);
                        $("#TransportCost").val(data.transport);
                        $("#BasicSalary").val(data.basic);
                        console.log("Total Amount");
                        CalculateAmount();
                    }
                },
                error: function (ex) {
                    //something later
                }
            });

        }
    });
    $(document).on('input propertychange', '#BasicSalary,#HouseRent,#MobileAllowance,#TransportCost,#FestivalBonus,#Percentage,#MedicalAllowance,#OtherAllowance,#OtherDeduction', function () {
        CalculateAmount();
    });
    function CalculateAmount() {
        $("#Amount").val();
        var basicSalary = isNaN(parseFloat($("#BasicSalary").val())) ? 0 : parseFloat($("#BasicSalary").val());
        console.log(basicSalary);
        var houseRent = isNaN(parseFloat($("#HouseRent").val())) ? 0 : parseFloat($("#HouseRent").val());
        var mobileAllowance = isNaN(parseFloat($("#MobileAllowance").val())) ? 0 : parseFloat($("#MobileAllowance").val());
        var transportCost = isNaN(parseFloat($("#TransportCost").val())) ? 0 : parseFloat($("#TransportCost").val());
        var festivalBonus = isNaN(parseFloat($("#FestivalBonus").val())) ? 0 : parseFloat($("#FestivalBonus").val());
        var medicalAllowance = isNaN(parseFloat($("#MedicalAllowance").val())) ? 0 : parseFloat($("#MedicalAllowance").val());
        var otherAllowance = isNaN(parseFloat($("#OtherAllowance").val())) ? 0 : parseFloat($("#OtherAllowance").val());
        var otherDeduction = isNaN(parseFloat($("#OtherDeduction").val())) ? 0 : parseFloat($("#OtherDeduction").val());
        var percentage = isNaN(parseFloat($("#Percentage").val())) ? 0 : parseFloat($("#Percentage").val());

        //console.log(basicSalary + houseRent + mobileAllowance + transportCost + festivalBonus + percentage);
        $("#Amount").val(basicSalary + houseRent + mobileAllowance + transportCost + festivalBonus + percentage + medicalAllowance + otherAllowance - otherDeduction);
    }
</script>

