﻿@model ERP.INFRASTRUCTURE.Participant

@if (Model.Id > 0)
{
    <tr>
        <td>
            @Html.HiddenFor(x => x.Id)
            @Html.TextBoxFor(x => x.TraineeName)
        </td>
        <td>@Html.TextBoxFor(x => x.Position)</td>
        <td>@Html.TextBoxFor(x => x.PotentialDemand)</td>
        <td>@Html.TextBoxFor(x => x.Email)</td>
        <td>@Html.TextBoxFor(x => x.Contact)</td>
    </tr>
}
