﻿@using ERP.INFRASTRUCTURE
@model ERP.INFRASTRUCTURE.Stock
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">X</button>
            <h3>Save Stock Entry</h3>
        </div>
        @using (Ajax.BeginForm("SaveStockEntry", "Inventory", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess(data)", InsertionMode = InsertionMode.Replace, UpdateTargetId = "target" }))
        {
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="FlashMessage"></div>
                     @Html.HiddenFor(model => model.IsEdit)
                     @Html.HiddenFor(model => model.Id)
                    @if (@Model == null)
                    {
                       @Html.Hidden("selectedCategory", "", new { @Id = "selectedCategory" })
                    }
                    else
                    {
                        @Html.Hidden("selectedCategory", Model.CategoryId, new { @Id = "selectedCategory" })
                    }
                     @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="control-label col-sm-4">@Html.DisplayNameFor(x => x.CategoryId)</div>
                        <div class="col-sm-8">
                           @Html.DropDownListFor(x => x.CategoryId, (IEnumerable<SelectListItem>)ViewBag.CategoryList, "-- Select Category --", new { @class = "form-control" })
                           @Html.ValidationMessageFor(x => x.CategoryId)
                        </div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-4">@Html.DisplayNameFor(x => x.ModelId)</div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(x => x.ModelId, (IEnumerable<SelectListItem>)ViewBag.ModelList, "-- Select Model --", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ModelId)
                        </div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-4">@Html.DisplayNameFor(x => x.Quantity)</div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Quantity)
                        </div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-4">@Html.DisplayNameFor(x => x.Amount)</div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(x => x.Amount, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Amount)
                        </div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-4">@Html.DisplayNameFor(x => x.Invoice)</div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(x => x.Invoice, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Invoice)
                        </div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-4">@Html.DisplayNameFor(x => x.StockDate)</div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(x => x.StockDate,"{0:dd/MMM/yyyy}", new { @class = "form-control datepicker", @readonly = "readonly"} )
                            @Html.ValidationMessageFor(x => x.StockDate)
                        </div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-4">Purchase Type</div>
                        @if (!Model.IsEdit || Model.PurchaseType ==(int) Constants.StockPurchaseType.MPI || Model.PurchaseType == null)
                        {
                            <div class="col-sm-8">
                                <input type="radio" checked="checked" value="@Convert.ToInt32(Constants.StockPurchaseType.MPI)" name="PurchaseType" />&nbsp;MPI purchase &nbsp;<input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.Mura)" name="PurchaseType" />&nbsp;Mura purchase&nbsp;<input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.Local)" name="PurchaseType" />&nbsp;Local Purchase&nbsp;<input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.MPI_Out)" name="PurchaseType" />&nbsp;MPI Out&nbsp;<input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.Mura_Out)" name="PurchaseType" />&nbsp;Mura Out
                            </div>
                        }
                        else
                        {
                            if (Model.PurchaseType == (int)Constants.StockPurchaseType.Mura)
                            {
                                <div class="col-sm-8">
                                    <input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.MPI)" name="PurchaseType" />&nbsp;MPI purchase &nbsp;<input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.Mura)" name="PurchaseType" checked="checked" />&nbsp;Mura purchase&nbsp;<input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.Local)" name="PurchaseType" />&nbsp;Local Purchase&nbsp;<input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.MPI_Out)" name="PurchaseType" />&nbsp;MPI Out&nbsp;<input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.Mura_Out)" name="PurchaseType" />&nbsp;Mura Out
                                </div>
                            }
                            else if (Model.PurchaseType == (int)Constants.StockPurchaseType.Local)
                            {
                                <div class="col-sm-8">
                                    <input type="radio"  value="@Convert.ToInt32(Constants.StockPurchaseType.MPI)" name="PurchaseType" />&nbsp;MPI purchase &nbsp;<input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.Mura)" name="PurchaseType" />&nbsp;Mura purchase&nbsp;<input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.Local)" name="PurchaseType" checked="checked" />&nbsp;Local Purchase&nbsp;<input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.MPI_Out)" name="PurchaseType" />&nbsp;MPI Out&nbsp;<input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.Mura_Out)" name="PurchaseType" />&nbsp;Mura Out
                                </div>
                            }
                            else if (Model.PurchaseType == (int)Constants.StockPurchaseType.MPI_Out)
                            {
                                <div class="col-sm-8">
                                    <input type="radio"  value="@Convert.ToInt32(Constants.StockPurchaseType.MPI)" name="PurchaseType" />&nbsp;MPI purchase &nbsp;<input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.Mura)" name="PurchaseType" />&nbsp;Mura purchase&nbsp;<input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.Local)" name="PurchaseType"  />&nbsp;Local Purchase&nbsp;<input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.MPI_Out)" name="PurchaseType" checked="checked" />&nbsp;MPI Out&nbsp;<input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.Mura_Out)" name="PurchaseType" />&nbsp;Mura Out
                                </div>
                            }
                            else if (Model.PurchaseType == (int)Constants.StockPurchaseType.Mura_Out)
                            {
                                <div class="col-sm-8">
                                    <input type="radio"  value="@Convert.ToInt32(Constants.StockPurchaseType.MPI)" name="PurchaseType" />&nbsp;MPI purchase &nbsp;<input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.Mura)" name="PurchaseType" />&nbsp;Mura purchase&nbsp;<input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.Local)" name="PurchaseType" />&nbsp;Local Purchase&nbsp;<input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.MPI_Out)" name="PurchaseType"  />&nbsp;MPI Out&nbsp;<input type="radio" value="@Convert.ToInt32(Constants.StockPurchaseType.Mura_Out)" name="PurchaseType" checked="checked" />&nbsp;Mura Out
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
