﻿@model ERP.INFRASTRUCTURE.PartialProduct
<script>
    var onchangeObject = {
        'control': 'CategoryId',
        'affectedControls': 'Id',
        'url': 'OnChangLoadProduct',
        'objectProperties': 'Id^ProductName'
    };
    var formControl = {
        'IsSingle': true,
        'ControlStr': 'param<prop>Id^CategoryId^ProductName^ProductCode^BuyingPrice^SellingPrice'
    };
    var formValidate = { 'IsChecked': true, 'validateStr': "ProductName^ProductCode" };
    var formUrl = "SaveProductSettings";
    var redirectUrl = "/Inventory/ProductSettingsList";
    var messageType = "notification";
</script>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">X</button>
            <h3>Save Product Settings</h3>
        </div>
        
        <div class="addclass"></div>
        <div class="modal-body param">
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.Id)
                @Html.ValidationSummary(true)
                <div class="row">
                    <div class="control-label col-sm-4">@Html.DisplayNameFor(x => x.CategoryId)</div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(x => x.CategoryId, new SelectList(ViewBag.CategoryList, "Value", "Text"), new { @class = "form-control", @id = "CategoryId" })
                        @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="control-label col-sm-4">@Html.DisplayNameFor(x => x.ProductName)</div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
                    </div>
                </div>
                @*<div class="row">
                    <div class="control-label col-sm-4">@Html.DisplayNameFor(x => x.ProductCode)</div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.ProductCode, new { @class = "form-control" })
                    </div>
                </div>*@
                <div class="row">
                    <div class="control-label col-sm-4">@Html.DisplayNameFor(x => x.BuyingPrice)</div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.BuyingPrice, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="control-label col-sm-4">@Html.DisplayNameFor(x => x.SellingPrice)</div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x=>x.SellingPrice, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" onclick="thirdPartySubmitter(formControl, formValidate, formUrl, redirectUrl, messageType)" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
        @*}*@
        @*<div class="modal-footer">
            <div class="row">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" onclick="submit()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>*@
    </div>
</div>