﻿@using ERP.INFRASTRUCTURE
@using ERP.INFRASTRUCTURE.Global
<div class="addclass"></div>
<div class="row">
    <div class="col-xs-10">
        <div class="box">
            <div class="panel-heading">
                <h3 class="panel-title">User List</h3>
                <div class="btn-add-partial">
                    <a href="@Url.Action("Register", "UserCommon")" class="list-group-item">Register</a>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var dbResp = (DbResponse)ViewBag.UserList;
                            if (dbResp.MessageType == 1)
                            {
                                var users = (List<PartialUser>)dbResp.ReturnValue;
                                foreach (var partialUser in users)
                                {
                                    <tr class="@partialUser.Id">
                                        <td><a href="@Url.Action("Register", "UserCommon", new { paramId = partialUser.Id })">@partialUser.UserName</a> </td>
                                        <td><button class="btn btn-default" onclick="submit_single('@partialUser.Id', 'Delete'); ">Remove</button></td>
                                    </tr>
                                }
                            }
                        }

                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
