﻿
@{
    ViewBag.Title = "OpeningStock";
}

@section scripts
{
<script>
    var buttonName = "Show Opening Stock";
    $(document).ready(function () {
        console.log(buttonName);
        $("#btnGenerate").attr('value', buttonName);
    });
</script>
}

<div>
    @{Html.RenderPartial("~/Views/Report/Partial/_Rpeort.cshtml");}

</div>
<div class="row">
    <div class="col-md-10">
        <iframe id="myReport" style="width: 120%; height: 100%; min-height: 400px; margin-left: 5px; "></iframe>
    </div>
</div>

