﻿@model ERP.INFRASTRUCTURE.Category

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <h3>Category</h3>
        </div>
        @using (Ajax.BeginForm("SaveCategory", "InventoryManager", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess(data)", InsertionMode = InsertionMode.Replace, UpdateTargetId = "target" }, new { @id = "DialogForm1" }))
        {
            <div class="modal-body">
                <div class="addclass"></div>
                <div class="form-horizontal">
                    <div class="FlashMessage"></div>
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.CreatedBy)
                    @Html.HiddenFor(model => model.CreatedDate)
                    @Html.HiddenFor(model => model.Status)

                    <div class="row">
                        <div class="control-label col-sm-3">@Html.DisplayNameFor(x => x.CategoryName)</div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.CategoryName)
                        </div>
                    </div>

                    <div class="row">
                        <div class="control-label col-sm-3">@Html.DisplayNameFor(x => x.Note)</div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.Note, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Note)
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" onclick="submit()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

