﻿<div id="MainMenu">
    <div class="list-group panel shawon" id="scroll">
        <div class="ashcolorDiv"><a href="#demo_Purchasse" class="list-group-item list-group-item-default" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-shopping-cart"></i> Purchase</a></div>
        <div class="collapse" id="demo_Purchasse">
            <a href="@Url.Action("SavePurchaseEntry", "Purchase")" class="list-group-item"><i class="fa fa-cubes textsuccess"></i>Purchase Invoice</a>
            <a href="@Url.Action("PurchaseEntryList", "Purchase")" class="list-group-item"><i class="fa fa-cubes textsuccess"></i>Purchase Book</a>            
        </div>
        <div class="ashcolorDiv"><a href="#demo_Inventory" class="list-group-item list-group-item-default" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-building-o"></i> Inventory</a></div>
        <div class="collapse" id="demo_Inventory">
            @*<a href="@Url.Action("CurrentStockList", "Stock")" class="list-group-item"><i class="fa fa-bars textsuccess"></i>Current Stock</a>*@
            <a href="@Url.Action("StockListReport", "Report")" class="list-group-item"><i class="fa fa-archive textsuccess"></i>Stock List Report</a>
        </div>
        <div class="ashcolorDiv"><a href="#demo_Training" class="list-group-item list-group-item-default" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-money"></i> Sales</a></div>
        <div class="collapse" id="demo_Training">
            <a href="@Url.Action("AddSalesInvoice", "Sales")" class="list-group-item"><i class="fa fa-cubes textsuccess"></i>Sales Invoice</a>
            <a href="@Url.Action("InvoiceList", "Sales")" class="list-group-item"><i class="fa fa-cubes textsuccess"></i>Sales Book</a>
            <a href="@Url.Action("SalesReport", "Report")" class="list-group-item list-group-item-default"><i class="fa fa-bar-chart-o"></i> Sales Report</a>
        </div>
        
        <div class="ashcolorDiv"><a href="#demo_Awareness" class="list-group-item list-group-item-default" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-eye"></i> Settings</a></div>
        <div class="collapse" id="demo_Awareness">
            <a href="@Url.Action("List", "Category")" class="list-group-item"><i class="fa fa-briefcase textsuccess"></i>Category Settings</a>
            <a href="@Url.Action("CurrencyList", "Currency")" class="list-group-item"><i class="fa fa-dollar textsuccess"></i>Currency Settings</a>
            <a href="@Url.Action("ProductSettingsList", "Inventory")" class="list-group-item"><i class="fa fa-archive textsuccess"></i>Product Settings</a>
            <a href="@Url.Action("List", "Employee")" class="list-group-item"><i class="fa fa-users textsuccess"></i>Employee Settings</a>
            <a href="@Url.Action("SupplierPartyList", "Settings")" class="list-group-item"><i class="fa fa-user textsuccess"></i>Supplier Settings</a>
            <a href="@Url.Action("DealerPartyList", "Settings")" class="list-group-item"><i class="fa fa-user textsuccess"></i>Client Settings</a>
        </div>
        <div class="ashcolorDiv"><a href="#accounts" class="list-group-item list-group-item-default" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-file-text"></i> Accounts Info</a></div>
        <div class="collapse" id="accounts">
            <a href="@Url.Action("LedgerGroupList", "Accounting")" class="list-group-item"><i class="fa fa-globe textsuccess"></i>Header List</a>
            <a href="@Url.Action("LedgerList", "Accounting")" class="list-group-item"><i class="fa fa-globe textsuccess"></i>Ledger List</a>
        </div>
        <div class="ashcolorDiv"><a href="#demo3" class="list-group-item list-group-item-default" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-file-text"></i> Transactions</a></div>
        <div class="collapse" id="demo3">
            <a href="@Url.Action("DealerPaymentModule", "Payment")" class="list-group-item"><i class="fa fa-money textsuccess"></i>Receive</a>
            <a href="@Url.Action("SupplierPaymentModule", "Payment")" class="list-group-item"><i class="fa fa-money textsuccess"></i>Payment</a>
            <a href="@Url.Action("TransactionList", "Transaction")" class="list-group-item" data-parent="#SubMenu3"><i class="fa fa-shopping-cart textsuccess"></i>Other Transaction</a>
            <a href="@Url.Action("TransactionList", "OpeningTransaction")" class="list-group-item" data-parent="#SubMenu3"><i class="fa fa-shopping-cart textsuccess"></i>Opening Transaction</a>
        </div>
        <div class="ashcolorDiv"><a href="@Url.Action("InvoiceReport", "Report")" class="list-group-item list-group-item-default" ><i class="fa fa-file"></i> Invoice Report</a></div>
        
        <div class="ashcolorDiv"><a href="#AccountsReport" class="list-group-item list-group-item-default" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-file"></i> Accounts Report</a></div>
        <div class="collapse" id="AccountsReport">
            <a href="@Url.Action("AccountsLedger", "AccountingReport")" class="list-group-item"><i class="fa fa-user textsuccess"></i>Accounts Ledger</a>
            <a href="@Url.Action("PartyLedger", "Report")" class="list-group-item"><i class="fa fa-user textsuccess"></i>Party Ledger</a>
            @*<a href="@Url.Action("TrialBalanceReport", "Report")" class="list-group-item"><i class="fa fa-user textsuccess"></i>TrialBalance</a>*@
            <a href="@Url.Action("IncomeStatement", "Report")" class="list-group-item"><i class="fa fa-user textsuccess"></i>Income Statement</a>
            @*<a href="@Url.Action("BalanceSheet", "Report")" class="list-group-item"><i class="fa fa-user textsuccess"></i>Balance Sheet</a>*@
        </div>
        <div class="ashcolorDiv"><a href="#backUp" class="list-group-item list-group-item-default" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-check-square-o"></i> Back Up Module</a></div>
        <div class="collapse" id="backUp">
            <a href="@Url.Action("Index", "DataBaseBackUp")" class="list-group-item"><i class="fa fa-database textsuccess"></i>Back Up</a>
        </div>
        
    </div>
</div>
