﻿@using ERP.INFRASTRUCTURE.Global

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Product of RITL">
    <meta name="author" content="Mohammed Sabbir">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <div class="FlashMessage"></div>
        <div class="modal fade in PartialModal" tabindex="-1">
            <div class="PartialModalContainer"></div>
        </div>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ERP", "Index", "Home", null, new { @class = "navbar-Category" })
            </div>
            <!-- /.navbar-header -->
            @{
                var userName = "Guest";
                var profileCode = "";
                var loginInfo = HttpContext.Current.Session["loginInfo"] as LogInInfo;
                if (loginInfo != null)
                {
                    userName = loginInfo.UserName;
                    profileCode = loginInfo.ProfileCode;
                }
            }

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="custom-fa fa-user"></i><span class="user">
                            @userName ( @profileCode )
                        </span> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        @if (userName == null || userName == "Guest" || userName == "")
                        {
                            <li>@Html.ActionLink("Login", "Login", "Account", null, new { @class = "auth fa-sign-in" })</li>
                        }
                        else
                        {
                            <li><a href="#" class="fa-life-saver ChangePasswordFromlayout" data-id="@loginInfo.UserId" data-url="@Url.Action("ChangePassword","Account")"> Change Password</a></li>
                            <li>@Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "auth fa-sign-in" })</li>
                        }
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <script>
                function onSuccess(data) {
                    if (data.Success == true) {
                        //return flash msg from custom.js
                        FlashMessage(data.FlashLabel, data.FlashMessage);
                    }
                    else {
                        FlashMessage(data.FlashLabel, data.FlashMessage);
                    }
                }
                //function submit() {
                //    $('#DialogForm1').submit();
                //}
            </script>
            @if (HttpContext.Current.Session["loginInfo"] != null)
            {
                <div class="navbar-inverse sidebar bg-dark" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>@Html.ActionLink("Dashboard", "Index", "Home", null, new { @class = "custom-fa fa-dashboard" })</li>
                            
                            <li>
                                <a href="#" class="custom-fa"><i class=" fa-book fa-fw"></i> Report<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="#" class="custom-fa"><i class=" fa-book fa-fw"></i>Inventory Report<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li>@Html.ActionLink("Purchase Report", "PurchaseReport", "Report", null, new { @class = "custom-fa fa-book" })</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" class="custom-fa"><i class=" fa-book fa-fw"></i>Client Report<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li>@Html.ActionLink("Client Report", "ClientReport", "Report", null, new { @class = "custom-fa fa-book" })</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" class="custom-fa"><i class=" fa-book fa-fw"></i>Bill Report<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li>@Html.ActionLink("Client Bill Report", "ClientBillReport", "Report", null, new { @class = "custom-fa fa-book" })</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" class="custom-fa"><i class=" fa-book fa-fw"></i>Service Report<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li>@Html.ActionLink("MR Report", "MrReport", "RdlcReport", null, new { @class = "custom-fa fa-book" })</li>
                                        </ul>
                                    </li>
                                    <!-- /.nav-second-level -->
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->

                </div>
    <!-- /.navbar-static-side -->
            }
        </nav>

        <div id="row">
            <div class="col-sm-12">
                <div id="page-wrapper">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <div id="row">
        <div class="col-sm-12">
            <div id="panel-footer">
                <p><span>Registered by ERP&copy;</span></p>
                <p><span>Developed By RITL&copy;</span></p>
            </div>
            <!-- /.panel-footer -->
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>
    @Scripts.Render("~/bundles/customs")
    @Scripts.Render("~/bundles/sbadmin")

    @RenderSection("scripts", required: false)

    @section scripts{

        <script>

            $(function () {
                $('.date-picker').datepicker({ autoclose: true, todayHighlight: true }).on('changeDate', function (e) {
                    $(this).datepicker('hide');
                });
            });
        </script>

    }
</body>
</html>
