// Variables

@gray-darker: lighten(#000, 13.5%);
@gray-dark: lighten(#000, 20%);
@gray: lighten(#000, 33.5%);
@gray-light: lighten(#000, 60%);
@gray-lighter: lighten(#000, 93.5%);
@gray-lightest: lighten(#000, 97.25%);
@Category-primary: #428bca;
@Category-success: #5cb85c;
@Category-info: #5bc0de;
@Category-warning: #f0ad4e;
@Category-danger: #d9534f;

