﻿<option value="@ViewBag.ProductList.Items[0].Value" selected>@ViewBag.ProductList.Items[0].Text</option>
@for (int i = 1; i < ViewBag.ProductList.Items.Count; i++)
{
    <option value="@ViewBag.ProductList.Items[i].Value">@ViewBag.ProductList.Items[i].Text</option>
}
