﻿@model ERP.INFRASTRUCTURE.User

@{
    ViewBag.Title = "Log in";
}
<script>
    var formControl = {
        'IsSingle': true,
        'ControlStr': 'partialUser<prop>UserName^Password'
    };
    param = '';
    url = 'PasswordResetRequest';
    var formValidate = { 'IsChecked': false, 'validateStr': "" };
    var formUrl = "Login";
    var redirectUrl = "/Home/Index";
    var messageType = 'notification';
</script>
<div class="row"><div class="col-sm-12"></div></div>
<section id="loginForm">
    <div class="row " style="margin-top: 50px;">
        <div class="clearfix"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Use a local account to log in.
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body partialUser">
                    <div class="addclass"></div>
                    <div class="row">
                        <div class="col-sm-5">@Html.LabelFor(m => m.UserName, new { @class = " control-label" })</div>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @*<input type="text" class="form-control" id="UserName" name="userName" placeholder="User Name">*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">@Html.LabelFor(m => m.Password, new { @class = " control-label" })</div>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password" })
                            @*<input type="password" class="form-control" id="Password" name="password" placeholder="Password">*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-primary btn-block btn-flat" onclick="thirdPartySubmitter(formControl, formValidate, formUrl, redirectUrl, messageType)">Sign In</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
