﻿@model ERP.INFRASTRUCTURE.RolePermission

@{
    ViewBag.Title = "Role Setup";
}
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-home"></i> Role </h3>
</div>
<div class="panel-body minHeight">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-sm-12">
                <div id="print-section">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-3">Role Name</div>
                                <div class="col-sm-6">
                                    @Html.HiddenFor(i => i.IsEdit)
                                    @Html.HiddenFor(i => i.Role.Id)
                                    @Html.TextBoxFor(i => i.Role.RoleName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">@Html.CheckBox("checkAll") Check All</div>
                            </div>
                            <div class="row">
                                @for (var i = 0; i < Model.Permissions.Count; i++)
                                {
                                    <div class="col-sm-3">
                                        @Html.CheckBoxFor(m => m.Permissions[i].Status)
                                        @Model.Permissions[i].Title
                                        @Html.HiddenFor(m => m.Permissions[i].Id)
                                        @Html.HiddenFor(m => m.Permissions[i].Title)
                                        @Html.HiddenFor(m => m.Permissions[i].RemoveStatus)
                                    </div>
                                }
                            </div>
                            <div class="row">
                                <div class="col-sm-2"><input type="submit" id="submit" name="submit" value="Save" class="btn btn-primary" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@if (TempData.Count > 0)
{
    <script>
        var message = '@TempData.Values.ElementAtOrDefault(0)';
        var messageType = '@TempData.Values.ElementAtOrDefault(1)';
        var count = 1;
    </script>
    TempData["message"] = null;
    TempData["messageType"] = null;
}
else
{
    <script>
        var count = 0;
    </script>
}
@section scripts{
    <script>
        if (count > 0) {
            GetMessage(message, messageType);
        }
    </script>
}
