﻿@using ERP.INFRASTRUCTURE
@using ModelState = System.Web.ModelBinding.ModelState
@model  PartialInvoiceInfo
@{
    ViewBag.Title = "SavePurchaseEntry";
}

<style>
    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
    }
    .msg-loading {
        font-size: 25px;
        font-weight: bold;
        margin: 20%;
        text-align: center;
        background-color: white;
    }
</style>
@Html.Partial("~/Views/Shared/Partial/_loadProductsPartial.cshtml", new ViewDataDictionary { { "url", "/Purchase/GetNewInvoiceInfoDetailBySerial" } })
<div id="overlay">
    <div class="msg-loading">
        Processing.....
    </div>
</div>
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-money"></i> Purchase Module </h3>
</div>
<div class="panel-body minHeight">
    <div class="FlashMessage"></div>
    @using (Ajax.BeginForm("SavePurchaseEntry", "Purchase", FormMethod.Post, new AjaxOptions { HttpMethod = "POST" }, new { @id = "purchaseForm", @onsubmit = "showLoader()" }))
    {

        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Id, new { @id = "invoiceInfo-id" })
        @Html.HiddenFor(m => m.CreatedBy, new { @id = "created-by" })
        @Html.HiddenFor(m => m.CreatedDate, new { @id = "created-date" })
        @Html.HiddenFor(m => m.ModifiedBy, new { @id = "modified-by" })
        @Html.HiddenFor(m => m.ModifiedDate, new { @id = "modified-date" })
        @Html.HiddenFor(m => m.Status, new { @id = "status" })
        @Html.HiddenFor(m => m.BussinessId, new { @id = "business-id" })
        @Html.HiddenFor(m => m.InvoiceNo, new { @id = "InvoiceNo" })
        @Html.HiddenFor(m => m.DebitId, new { @id = "DebitId" })
        @Html.HiddenFor(m => m.CreditId, new { @id = "CreditId" })
        <div class="form-horizontal">
            <div class="row">
                @if(!ViewData.ModelState.IsValid)
                {
                <div>There are some errors</div>
                }
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="control-label col-sm-3">Purchase Date</div>
                            <div class="col-sm-7">@Html.TextBoxFor(m => m.InvoiceDate, "{0:dd/MMM/yyyy}", new { @class = "form-control date-picker", @readonly = "readonly" })</div>
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-3">Supplier</div>
                            <div class="col-sm-7" id="partyCtrl">@Html.DropDownListFor(m => m.PartyId, new SelectList(ViewBag.PartySelectList, "Value", "Text"), new { @class = "form-control dropdown" })  </div>
                            @Html.ValidationMessageFor(m => m.PartyId, "", new { @class = "text-danger" })
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-3">Category</div>
                            <div class="col-sm-7">@Html.DropDownList("CategoryId", new SelectList(ViewBag.CategorySelectList, "Value", "Text"), new { @class = "form-control dropdown", @id = "category-id", @onChange = "updatePurchaseProductList()" })</div>
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-3">Product</div>
                            <div class="col-sm-7"><select id="product-id" name="ProductId" class="form-control dropdown" onchange="validateAddButton()"></select></div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        @if (Model.IsEdit == true)
                        {
                            <div class="row">
                                <div class="control-label col-sm-3">Invoice type</div>
                                <div class="col-sm-7">@Html.DropDownListFor(m => m.PropertyId, new SelectList(ViewBag.PropertySelectList, "Value", "Text"), new { @class = "form-control dropdown", @id = "PropertyId", @disabled = "disabled" })</div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="control-label col-sm-3">Invoice type</div>
                                <div class="col-sm-7">@Html.DropDownListFor(m => m.PropertyId, new SelectList(ViewBag.PropertySelectList, "Value", "Text"), new { @class = "form-control dropdown", @id = "PropertyId" })</div>
                            </div>
                        }

                        <div class="row">
                            <div class="control-label col-sm-3">Currency</div>
                            <div class="col-sm-7">@Html.DropDownListFor(m => m.CurrencyId, new SelectList(ViewBag.CurrencySelectList, "Value", "Text"), new { @class = "form-control dropdown" })</div>
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-3">Remarks</div>
                            <div class="col-sm-7">@Html.TextAreaFor(m => m.Remarks, new { @class = "form-control" }) </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-3 col-sm-10">
                    <button type="button" class="btn btn-primary" id="addProductRow" onclick="addProduct()" disabled>Add</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#xcelModal" >Load by serial </button>
                    <button type="button" id="clearProductRow" class="btn btn-primary" onclick="removeAllRow()">Clear</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12 invoice-table">
                    <table class="table table-bordered" id="productTable">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Sr. No</th>
                                <th>Waranty(months)</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="productBody" class="InvoiceDetailsList productBody">
                            @*@if (Model.InvoiceDetailsList != null)
                            {
                                foreach (var invoiceDetail in Model.InvoiceDetailsList)
                                {
                                    Html.RenderPartial("~/Views/Purchase/Partial/_PartialInvoiceInfoDetail.cshtml", invoiceDetail);
                                }
                            }*@
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-sm-push-7">
                    <div class="row">
                        <div class="control-label col-sm-4">@Html.LabelFor(m => m.SubTotal, "Subtotal: ")</div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.SubTotal, new { @class = "form-control", @id = "sub-total", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-4">@Html.LabelFor(m => m.GrandTotal, "Total Amount: ")</div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.GrandTotal, new { @class = "form-control", @id = "grand-total", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input class="btn btn-primary pull-right hi" style="width: 90px;" id="Submit" value="Save" onclick="SaveInvoice('/Purchase/SavePurchaseEntry')" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $('#purchaseForm').on('keyup keypress', function(e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });
            //========Load Invoice Detail=========
            var invoiceId = parseInt($('#invoiceInfo-id').val());
            if (invoiceId > 0) {
                console.log(invoiceId);
                ShowLoader("Loading......");
                $.get('/Purchase/LoadInvoiceInfoDetail', { invoiceInfoId: invoiceId }, function (data) {
                    $('#productBody').append(data);
                    updateTotals();
                    HideLoader();
                });
            }
        });

        function showLoader() {
            if ($("#purchaseForm").valid()) {
                document.getElementById("overlay").style.display = "block";
            }
        }

        function addProduct() {
            var productId = parseInt($('#product-id option:selected').val());
            var invoiceInfoId = parseInt($('#invoiceInfo-id').val());
            console.log(productId);
            console.log(invoiceInfoId);
            invoiceInfoId = isNaN(invoiceInfoId) ? null : invoiceInfoId;

            $.post('/Purchase/GetNewInvoiceInfoDetail', { invoiceInfoId: invoiceInfoId, productId: productId }, function(data) {
                $('#productBody').append(data);
                updateTotals();
            });
        }


        function validateAddButton() {
            var productId = $('#product-id option:selected').val() != undefined ? parseInt($('#product-id option:selected').val()) : 0;

            if (productId != 0) {
                $('#addProductRow').prop('disabled', false);
            } else {
                $('#addProductRow').prop('disabled', true);
            }
        }

        function setProductTotal(element) {
            var unitPrice = parseFloat($(element).closest('tr').find('td input[id="product-unit-price"]').val());
            var quantity = parseFloat($(element).closest('tr').find('td input[id="product-quantity"]').val());
            var totalPrice = unitPrice * quantity;

            $(element).closest('tr').find('td label[id="product-total-price"]').text(totalPrice.toFixed(2));
            updateTotals();
        }

        function updateTotals() {
            var subTotal = 0.0;
            var grandTotal = 0.0;

            $('#productBody tr[status!="0"]').each(function(i, element) {
                var unitPrice = parseFloat($(element).find('td input[id="product-unit-price"]').val());
                $(element).find('td label[id="product-total-price"]').text(unitPrice);
                subTotal += parseFloat($(element).find('td label[id="product-total-price"]').text());
            });

            grandTotal = subTotal;

            $('#sub-total').val(subTotal.toFixed(2));
            $('#grand-total').val(grandTotal.toFixed(2));
        }

        function removeDetailRow(element) {
            var detailRow = $(element).closest('tr');
            if (parseInt($(detailRow).find('input[id="id"]').val()) == 0) {
                $(detailRow).remove();
            } else {
                $(detailRow).find('input[id="status"]').val(0);
                $(detailRow).attr('status', 0);
                $(detailRow).remove();
            }
            updateTotals();
        }

        function removeAllRow() {
            $('#productBody tr[status!="0"]').each(function(i, element) {
                if (parseInt($(element).attr('id')) == 0) {
                    $(element).remove();
                } else {
                    $(element).attr('status', 0);
                    $(element).remove();
                }
            });
            updateTotals();
        }

        function updatePurchaseProductList() {
            var categoryId = parseInt($('#category-id option:selected').val());
            if (categoryId != 0) {
                $.post('/Purchase/GetProductListByCategory', { categoryId: categoryId, invoiceType: '@ViewBag.InvoiceType' }, function(data) {
                    $('#product-id').empty();
                    if (data != "") {
                        $('#product-id').append(data);
                    } else {
                        alertify.error('No product in this category');
                    }
                });
            } else {
                $('#product-id').empty();
            }
        }
    </script>
}





