﻿@{
    ViewBag.Title = "Product List";
}
<script>
    param = '';
    url = 'SaveProductSettings';
</script>
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-archive"></i> Product List</h3>
    <div class="btn-add-partial">
        <button class="btn btn-info" onclick="loadPartial(param,url);">Add Product</button>
    </div>
</div>
<div class="panel-body minHeight">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>ProductCode</th>
                                    <th>CategoryName</th>
                                    <th>BuyingPrice</th>
                                    <th>Selling Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.ProductList.Count > 0)
                                {
                                    foreach (var product in ViewBag.ProductList)
                                    {
                                        <tr>
                                            <td><a href="#" onclick="loadPartial(@product.Id,url);">@product.ProductName</a></td>
                                            <td>@product.ProductCode</td>
                                            <td>@product.CategoryName</td>
                                            <td>@product.BuyingPrice</td>
                                            <td>@product.SellingPrice</td>
                                            <td>
                                                @*<abbr title="Edit">
                                                    <button class="btn btn-default" onclick="loadPartial(@product.Id,url);"><i class="fa fa-pencil fa-fw"></i></button>
                                                </abbr>*@
                                                <abbr title="Delete"><button class="btn btn-default " onclick="ConfirmDelete(@product.Id,'DeleteProductSettings')"> <i class="fa fa-trash-o fa-fw"></i></button></abbr>

                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-sm-12 -->
    </div>
    <!-- /.row -->
</div>